{% extends 'base.html' %}

{% block title %}Contact with Suggested Course{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container px-5 my-3">
            <div class="text-center my-3">
                <h1 class="fw-bolder mb-2">Contact Us with Your Suggested Course</h1>
                <p class="lead fw-normal text-muted mb-3">Fill out the form to reach us and review your suggested course</p>
            </div>

            <div class="bg-light rounded-3 py-5 px-5 px-md-5 mb-5 custom-margin">
                <div class="row gx-6 justify-content-center">
                    <div class="col-lg-8 col-xl-11">
                        <form method="POST" id="contactWithQuizForm" novalidate>
                            {% csrf_token %}

                            <!-- Name -->
                            <div class="mb-3">
                                <label class="form-label">{{ form.name.label }}</label>
                                <div class="center-input">
                                    {{ form.name }}
                                </div>
                                <div class="invalid-feedback d-block">
                                    {% if form.name.errors %}
                                        {{ form.name.errors }}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Phone -->
                            <div class="mb-3">
                                <label class="form-label">{{ form.phone_number.label }}</label>
                                <div class="center-input">
                                    <span class="input-group-text">+38</span>
                                    {{ form.phone_number }}
                                </div>
                                <div class="invalid-feedback d-block">
                                    {% if form.phone_number.errors %}
                                        {{ form.phone_number.errors }}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Suggested Course -->
                            <div class="mb-3">
                                <label class="form-label">{{ form.suggested_course.label }}</label>
                                <div class="center-input">
                                    <input class="form-control disabled-style" name="suggested_course" value="{{ suggested_course }}" readonly>
                                </div>
                            </div>

                            <!-- Suggestion Details -->
                            <div class="mb-3">
                                <label class="form-label">{{ form.suggestion_details.label }}</label>
                                <div class="center-input">
                                    <input class="form-control disabled-style" name="suggestion_details" value="{{ suggestion_details }}" readonly>
                                </div>
                            </div>


                            <!-- Message -->
                            <div class="mb-3">
                                <label class="form-label">{{ form.message.label }}</label>
                                <div class="center-input">
                                    {{ form.message }}
                                </div>
                                <div class="invalid-feedback d-block">
                                    {% if form.message.errors %}
                                        {{ form.message.errors }}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="text-center">
                                <button type="submit" id="submitBtn" class="btn btn-primary btn-lg px-4 me-sm-3">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
