{% extends 'base.html' %}

{% block title %}Submission Successful{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container px-5 my-3">
            <div class="bg-light rounded-3 py-5 px-5 px-md-5 mb-5 custom-margin">
                <div class="row gx-6 justify-content-center">
                    <div class="text-center my-3">
                        <h1 class="fw-bolder mb-2">Thank You!</h1>
                        <p class="lead fw-normal text-muted mb-3">Your message has been successfully submitted.<br>We will get back to you shortly.</p>
                        <a href="{% url 'home' %}" class="btn btn-primary btn-lg px-4 me-sm-3">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
